[Unit]
Description=Run lemon-clamscan.service every Saturday at 12:00
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=Sat *-*-* 12:00:00
Persistent=true
AccuracySec=1m
WakeSystem=true
Unit=lemon-clamscan.service

[Install]
WantedBy=timers.target
